.navbar{
    display: inline-block;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed;
    top: 0px;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.navbar-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.left-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-image img{
    width: auto;
    height: auto;
}

.navbar-links{
    gap: 50px;
}

.navbar-links a{
    font-weight: inherit;
    transition: 0.5s ease;
}

.navbar-links a:hover{
    font-weight: 575;
}

.navbar-links{
    display: flex;
    align-items: center;
}

.dropdown{
    display: none;
}

.dropdown img{
    height: 30px;
}

