.navbar{
    display: inline-block;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed;
    top: 0px;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.navbar-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-image img{
    width: auto;
    height: auto;
}

.navbar-links{
    gap: 50px;
}

.navbar-links{
    display: flex;
    align-items: center;
}