*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff9eb;
}

@font-face{
    font-family: 'inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz\,wght.ttf');

}

@font-face{
    font-family: 'inter-italic';
    src: url('../fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face{
    font-family: 'spartan-league';
    src: url('../fonts/league-spartan/LeagueSpartan-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'arial-unicode-ms';
    src: url('../fonts/arial-unicode-ms/arial\ unicode\ ms.otf');
}

@font-face{
    font-family: 'arial-unicode-ms-bold';
    src:url('../fonts/arial-unicode-ms/arial\ unicode\ ms\ bold.otf');
}

a{
    text-decoration: none;
    font-family: 'inter';
    color: black;
    font-weight:500;
}

h2{
    font-family: 'spartan-league';
    color: #535c3c;
    font-size: 45px;
    line-height: 55px;
    text-shadow: -3px 0px 3px rgba(0, 0, 0, 0.3);
}

h2.green{
    display: inline-block;
    font-family: 'spartan-league';
    color: #2e8264;
    font-size: 60px;
    text-shadow: -3px 0px 3px rgba(0, 0, 0, 0.3);
}

h2.green.medium{
    display: inline-block;
    font-family: 'spartan-league';
    color: #2e8264;
    font-size: 40px;
    text-shadow: -3px 0px 3px rgba(0, 0, 0, 0.3);
}

h2.green.small{
    font-size: 34px;
}

p{
    font-family: 'inter';
    color: #641919;
    font-size: 20px;
    letter-spacing: 3px;
}

p.small{
    font-family: 'arial-unicode-ms';
    letter-spacing: normal;
    color: #d9d9d9;
    font-size: 16px;
}

p.smaller, label{
    font-family: 'arial-unicode-ms';
    letter-spacing: normal;
    color: white;
    font-size: 12px;
    line-height: 12px;
}

p.smaller.black, .small.bold, p.small.black, label.smaller.bold{
    color: black;
}

p.smaller.bold{
    color: white;
    font-size: 12px;
    font-family: 'arial-unicode-ms-bold';
    line-height: 12px;
    font-weight: 700;
}

p.small.bold, label.small.bold{
    color: white;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family: 'arial-unicode-ms-bold';
    line-height: 20px;
}

label.smaller.bold{
    color: black;
    font-size: 15px;
    font-family: 'arial-unicode-ms-bold';
    line-height: 20px;
    padding-left: 10px;
}

.body-margin{
    margin: auto 160px;
}

.modified-letter-spacing{
    letter-spacing: 1.5px;
    line-height: 25px;
}

.button-green{
    display: inline-block;
    width: auto;
    padding: 12px 40px;
    border-radius:30px;
    background-color: #2E8264;
    color: white;
}

.background-accessory{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0.7;
}

.input{
    width: 100%;
    margin-top: 7px;
    border: 2px solid rgba(70, 143, 116, 0.5);
    padding: 10px 5px 10px 13px;
    background-color: none;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
}
